@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizador

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TratarCodigoDeErro</title>
</head>
<body>
    <h1>@ViewBag.MensagemErro ...</h1>
</body>
</html>
