
<div class="modal fade" id="ModalTermoUso" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name.Equals("pt-BR"))
                {
                    <h5 class="modal-title" id="TituloModalLongoExemplo">TERMO DE USO DA APLICAÇÃO</h5>
                }
                else
                {
                    <h5 class="modal-title" id="TituloModalLongoExemplo">APPLICATION TERM OF USE</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="breadcrumb" style=" margin-top:5%; height:300px; overflow:auto;">
                    @if (System.Globalization.CultureInfo.CurrentCulture.Name.Equals("pt-BR"))
                    {
                        <p align="justify" style="line-height:1.5;">
                            Este é um contrato firmado entre você, de agora em diante denominado como usuário,
                            e o Research Data Facility, equipe de trabalho do Instituto Federal de São Paulo do
                            Curso de Tecnologia Analise e Desenvolvimento de Sistemas situado na cidade de
                            São Paulo - SP no endereço Rua Pedro Vicente, 625. Este “Termo de Uso de
                            Aplicativo” rege o uso de todos os aplicativos disponibilizados gratuitamente pela
                            equipe sejam para dispositivos móveis (Android, IOS, Windows Mobile), computadores
                            pessoais (desktops) ou serviços web. Se você não concordar com estes termos não
                            use este aplicativo. Você reconhece que analisou e aceitou as condições de uso.
                            Leia-as atentamente pois o uso deste aplicativo significa que você aceitou todos os
                            termos e concorda em cumpri-los. Se você, usuário, for menor de idade ou declarado
                            incapaz em quaisquer aspectos, precisará da permissão de seus pais ou responsáveis
                            que também deverão concordar com estes mesmos termos e condições.
                        </p>
                        <p align="justify" style="line-height:1.5;"><strong>ALTERAÇÕES, MODIFICAÇÕES E RESCISÃO</strong></p>
                        <p align="justify" style="line-height:1.5;">
                            O Research Data Facility reserva-se no direito de, a qualquer tempo, modificar estes
                            termos seja incluindo, removendo ou alterando quaisquer de suas cláusulas. Tais
                            modificações terão efeito imediato. Após publicadas tais alterações, ao continuar com
                            o uso da aplicação você terá aceitado e concordado em cumprir os termos
                            modificados.
                            O Research Data Facility pode, de tempos em tempos, modificar ou descontinuar
                            (temporária ou permanentemente) a distribuição ou a atualização deste aplicativo.
                            O usuário não poderá responsabilizar o Research Data Facility nem seus
                            desenvolvedores por quaisquer modificações, suspensões ou descontinuidade do
                            aplicativo.
                        </p>
                        <p align="justify" style="line-height:1.5;"><strong>CONSENTIMENTO PARA COLETA E USO DE DADOS</strong></p>
                        <p align="justify" style="line-height:1.5;">
                            Você concorda que o Research Data Facility pode coletar e usar dados técnicos de
                            seu dispositivo tais como especificações, configurações, versões de sistema
                            operacional, tipo de conexão à internet e afins. Além de utilizar seu acesso via E-mail
                            Google para a aplicação, sendo possível cadastro de senha local para acesso off-line.
                            ISENÇÃO DE GARANTIAS E LIMITAÇÕES DE RESPONSABILIDADE
                            Este aplicativo estará em contínuo desenvolvimento e pode conter erros e, por isso, o
                            uso é fornecido "no estado em que se encontra" e sob risco do usuário final. Na
                            extensão máxima permitida pela legislação aplicável o Research Data Facility e seus
                            fornecedores isentam-se de quaisquer garantias e condições expressas ou implícitas
                            incluindo, sem limitação, garantias de comercialização, adequação a um propósito
                            específico, titularidade e não violação no que diz respeito ao aplicativo e qualquer um
                            de seus componentes ou ainda à prestação ou não de serviços de suporte. O
                            Research Data Facility não garante que a operação deste aplicativo seja contínua e
                            sem defeitos.
                        </p>

                        <p align="justify" style="line-height:1.5;">
                            Exceto pelo estabelecido neste documento não há outras garantias, condições ou
                            promessas aos aplicativos, expressas ou implícitas, e todas essas garantias,
                            condições e promessas podem ser excluídas de acordo com o que é permitido por lei
                            sem prejuízo à Research Data Facility e seus colaboradores.
                        </p>
                        <ul>
                            <li>
                                I. O Research Data Facility não garante, declara e assegura que o uso deste aplicativo
                                será ininterrupto ou livre de erros e você concorda que Research Data Facility poderá
                                remover por períodos indefinidos ou cancelar este aplicativo a qualquer momento sem
                                que você seja avisado.
                            </li>
                            <li>
                                II. O Research não garante, declara nem assegura que este aplicativo esteja livre de
                                perda, interrupção, ataque, vírus, interferência, pirataria ou outra invasão de segurança
                                e isenta-se de qualquer responsabilidade em relação à essas questões. Você é
                                responsável pelo backup do seu próprio dispositivo.
                            </li>


                        </ul>
                        <p>São Paulo, 25 de Outubro de 2019</p>
                    }
                    else
                    {
                        <p align="justify" style="line-height:1.5;">
                            This is a contract between you, hereinafter referred to as the user,
                            and the Research Data Facility, staff of the Federal Institute of São Paulo of
                            Technology Analysis and Systems Development Course located in the city of
                            São Paulo - SP at Rua Pedro Vicente, 625. This “Terms of Use of
                            Application ”governs the use of all applications made available for free by
                            team are for mobile devices (Android, IOS, Windows Mobile), computers
                            desktops or web services. If you do not agree to these terms do not
                            Use this app. You acknowledge that you have reviewed and accepted the conditions of use.
                            Please read them carefully as using this app means that you have accepted all
                            terms and agree to abide by them. If you, a user, are underage or declared
                            incapable in any respect, you will need permission from your parents or guardians
                            who must also agree to these same terms and conditions.
                        </p>
                        <p align="justify" style="line-height:1.5;"><strong>CHANGES, MODIFICATIONS AND TERMINATION</strong></p>
                        <p align="justify" style="line-height:1.5;">
                            The Research Data Facility reserves the right at any time to modify these
                            terms including, removing or amending any of its terms. Such
                            These modifications will take effect immediately. After these changes were published, by continuing with
                            using the application you have accepted and agreed to abide by the terms
                            modified.
                            Research Data Facility may from time to time modify or discontinue
                            (temporarily or permanently) the distribution or update of this application.
                            You shall not be responsible for Research Data Facility or its
                            developers for any modifications, suspensions, or discontinuance of the
                            app.
                        </p>
                        <p align="justify" style="line-height:1.5;"><strong>DATA COLLECTION AND USE CONSENT</strong></p>
                        <p align="justify" style="line-height:1.5;">
                            You agree that Research Data Facility may collect and use technical data from
                            your device such as specifications, configurations, system versions
                            type of internet connection and the like. In addition to using your email access
                            Google for the application, being possible to register local password for offline access.
                            DISCLAIMER OF WARRANTIES AND LIMITATIONS OF LIABILITY
                            This app will be continually under development and may contain bugs and so the
                            use is provided "as is" and at the end user's risk. At
                            maximum extent permitted by applicable law the Research Data Facility and its
                            suppliers disclaim any express or implied warranties and conditions
                            including without limitation warranties of merchantability, fitness for a purpose
                            specific, proprietary and non-infringement with respect to the application and any
                            components or the provision or otherwise of support services. THE
                            Research Data Facility does not guarantee that the operation of this application will be continuous and
                            No defects.
                        </p>
                        <p align="justify" style="line-height:1.5;">
                            Except as set forth herein, there are no other warranties, conditions or
                            promises to applications, express or implied, and all such warranties,
                            conditions and promises may be excluded as permitted by law
                            without prejudice to Research Data Facility and its employees.
                        </p>
                        <ul>
                            <li>
                                I. Research Data Facility does not warrant, represent and warrant that use of this application
                                uninterrupted or error free and you agree that Research Data Facility may
                                remove for indefinite periods or cancel this app at any time without
                                let you be warned.
                            </li>
                            <li>
                                II. Research does not warrant, represent or warrant that this application is free from
                                loss, interruption, attack, virus, interference, piracy or other security invasion
                                and disclaims any liability with respect to such matters. You are
                                responsible for backing up your own device.
                            </li>


                        </ul>
                        <p>Sao Paulo, October 25, 2019</p>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>










