
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}

body {
    background:white;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

.header {
    padding-top: 10px;
    text-align: center;
    border: 2px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
}

    table th {
        background-color: #4caf50;
        color: white;
        text-align: center;
    }

th,
td {
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
